[Unit]
Description=Idle Shutdown Service
After=multi-user.target

[Service]
ExecStart=/usr/local/bin/idleshutdown.sh
Restart=always
User=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
